<div class="row">
    <div class="col-lg-8">
        <div class="mb-3">
            <h5><label class="form-label">Ara</label></h5>
            <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText">
            <div id="searchHelp" class="form-text">Renk yazınız...</div>
        </div>

        <div *ngIf="dataLoaded==false" class="text-primary" role="status">
            <span class=" spinner-border visually-hidden"></span>
            <a>{{message}} {{dataLoaded}} </a>
        </div>

        <table *ngIf="dataLoaded==true" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Color Name</th>
                    <th><button type="button" class="btn btn-outline-success"(click)="ifAddColor()">Renk Ekle</button></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let color of colors | colorFilter:filterText">
                    <td>{{ color.id }}</td>
                    <td>{{ color.name }}</td>
                    <td><button type="button" class="btn btn-outline-success" (click)="createColor(color.id,color.name)">Güncelle</button></td>
                    
                </tr>

            </tbody>

        </table>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="row">
            <app-color-add *ngIf="ifAdd"></app-color-add>
        </div>
        <br>
        <div class="row">
            <app-color-update *ngIf="color" [color]="color"></app-color-update>
        </div>

    </div>
</div>