<div class="row">
    <div class="col-lg-8">
        <div class="mb-3">
            <h5><label class="form-label">Ara</label></h5>
            <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText">
            <div id="searchHelp" class="form-text">Marka yazınız...</div>
        </div>

        <div *ngIf="dataLoaded==false" class="text-primary" role="status">
            <span class=" spinner-border visually-hidden"></span>
            <a>{{message}} {{dataLoaded}} </a>
        </div>

        <table *ngIf="dataLoaded==true" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Brand Name</th>
                    <th>Color Name</th>
                    <th>Model Year</th>
                    <th>Daily Price</th>
                    <th>Description</th>
                    <th><button type="button" class="btn btn-outline-success"(click)="ifAddCar()">Araba Ekle</button></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars | filterPipe:filterText">
                    <td>{{ car.id }}</td>
                    <td>{{ car.brandName }}</td>
                    <td>{{ car.colorName }}</td>
                    <td>{{ car.modelYear }}</td>
                    <td>{{ car.dailyPrice }}</td>
                    <td>{{ car.description }}</td>
                    <td><button type="button" class="btn btn-outline-success" (click)="createCar(car.id)">Güncelle</button></td>
                    
                </tr>

            </tbody>

        </table>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="row">
            <app-car-add *ngIf="ifAdd"></app-car-add>
        </div>
        <br>
        <div class="row">
            <app-car-update *ngIf="car" [car]="car"></app-car-update>
        </div>

    </div>
</div>