<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header"><h5 class="title">Renk Ekle</h5></div>
            <div class="card-body">
                <form [formGroup]="carAddForm">
                    <div class="mb-3">
                        <label for="brandId">Marka</label>
                        <div class="form-group">
                            <select class="form-control" formControlName="brandId"
                                id="brandId">
                                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="colorId">Renk</label>
                        <div class="form-group">
                            <select class="form-control" formControlName="colorId"
                                id="colorId">
                                <option *ngFor="let color of colors" [value]="color.id">{{color.name}} </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="modelYear">Model Yılı</label>
                        <div class="form-group">
                            <input class="form-control" type="number" maxlength="4" id="modelYear" formControlName="modelYear" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="dailyPrice">Günlük Ücret</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="dailyPrice" formControlName="dailyPrice" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Açıklama</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="description" formControlName="description" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description">Findeks Puanı</label>
                        <div class="form-group">
                            <input class="form-control" type="text" id="findeksScore" formControlName="findeksScore" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="addCar()" >Ekle</button>
            </div>
        </div>
        
    </div>
    
</div>